@import "index.css";

#drawn
{
	position : absolute;
	width : 50%;
	top : 50%;
	left : 50%;
	transform: translateY(-50%) translateX(-50%);

	background-color : rgba(50, 50, 50, 0.6);

	padding : 20px;
}

#welcome
{
	font-family : "Titillium Web", sans-serif;
	color : white;
	font-size : 25px;
	text-align : center;
	font-weight : bold;
}

#welcome a
{
	color : white;
}